[Desktop Entry]
Type=Application
Name=Randovania
Exec=AppRun
Comment=A randomizer platform for a multitude of games
Icon=python
Categories=Game;
Terminal=true
